body{
    background-color: grey;
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

.cell{
    width: 5px;
    height: 5px;
    /* width: 15px;
    height: 15px; */
    border: 1px black solid;
}

#grid{
    display: grid;
    grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
    cursor: pointer;
}

.alive{
    background-color: black;
}

.dead{
    background-color: white;
}

#button-container{
    display: flex;
}